body {
  font-family: sans-serif;
  background-color: white;
}

#cy {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
}

.popup {
  border-radius: 6px;
  background-color: #efefef;
  padding: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  max-height: 600px;
  min-width: 900px;
  overflow: auto;
}

#tip {
  position: absolute;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  border: 1px solid black;
  z-index: 100;
}

#controls-toggle {
  font-size: 2.2em;
  font-weight: normal;
  /*color: grey;*/
  opacity: 0.99;
  width: 44px;
  float: left;
  z-index: 10000;
  cursor: pointer;
  text-align: center;
}

#controls {
  position: relative;
  z-index: 10000;
  color: white;
  float: left;
  width: calc(100% - 44px);
  pointer-events: none;
}

#controls.hide {
  display: none;
}

#controls .control {
  background-color: rgba(255, 255, 255, 0.25);
  display: inline-block;
  padding: 3px;
  border-radius: 3px;
  height: 34px;
  vertical-align: middle;
  pointer-events: auto;
}

#controls .control.right {
  float: right;
  clear: right;
  margin-bottom: 3px;
}

.control #progress {
  width: 250px;
  height: 34px;
}

.control #progress>div {
  width: calc(100%);
  height: 70%;
  margin-top: 5px;
}

/*
 status colours
*/

.unknown {
  background-color: fuchsia;
}

.active {
  background-color: yellow;
}

.blocked {
  background-color: red;
}

.conflict {
  background-color: orange;
}

.parked {
  background-color: blue;
}

.completed {
  background-color: limegreen;
}

.pending {
  background-color: cyan;
}

.staged {
  background-color: fuchsia;
}

.ready {
  background-color: cyan;
}

/*
 neater display of some markdown elements
*/

.popup .workitem {
  color: #333;
  font-weight: bold;
}

.popup .type img {
  max-width: 22px;
  vertical-align: text-bottom;
}

.popup .title {
  color: darkgreen;
  font-weight: bold;
}

.popup pre {
  background-color: #ddd;
  padding: 8px;
}

.popup p>code {
  background-color: #ddd;
  padding: 3px;
}

.popup h1 {
  font-size: 1.75em;
}

.popup h2 {
  font-size: 1.4em;
}

.popup blockquote {
  border-left: 4px solid lightgrey;
  padding-left: 10px;
}

/*
 task metadata display
*/

.popup .meta {
  float: right;
  width: 250px;
  background-color: white;
  border: 1px solid lightgrey;
  padding: 10px 8px 0 8px;
}

.popup .meta section {
  margin: 15px 0 15px 0;
}

.popup .meta .status {
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
  text-align: center;
}

.popup .meta .owner img {
  max-width: 22px;
  vertical-align: text-bottom;
}
